@model IEnumerable<University.BL.DTOs.OfficeAssignmentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Instructor.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>        
    </tr>
}

</table>
