@using PagedList.Mvc
@model PagedList.IPagedList<University.BL.DTOs.StudentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Bienvenido al Index</h2>

@Html.ActionLink(" ", "Create", "Students", null, new { @class = "btn btn-sm btn-primary fas fa-plus-circle" })
<hr />

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <p>
        <select name="PageSize" id="PageSize" class="form-control">
            <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") }>10</option>
            <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") }>15</option>
        </select>
        <br />
        <input type="submit" value="Apply" class="btn btn-primary" />
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First MidName</th>
            <th>Enrollment Date</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.LastName</td>
                <td>@item.FirstMidName</td>
                <td>@item.EnrollmentDate</td>
                <td>
                    @Html.ActionLink(" ", "Index", "Students", new { studentId = item.ID }, new { @class = "btn btn-sm btn-info fas fa-chevron-circle-down" })
                    @Html.ActionLink(" ", "Edit", "Students", new { id = item.ID }, new { @class = "btn btn-sm btn-primary fas fa-edit" })
                    @Html.ActionLink(" ", "Delete", "Students", new { id = item.ID }, new { @class = "btn btn-sm btn-danger fas fa-trash-alt" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
<br />
Total Item Count @Model.TotalItemCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Students", new { page, pageSize = ViewBag.PageSize }))

@if (ViewBag.Data != null && ViewBag.Message != null)
{
    <ul>
        <li>@ViewBag.Data</li>
        <li>@ViewBag.Message</li>
    </ul>
}

@if (ViewBag.Courses != null)
{
    <h1>Courses</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Credits</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<University.BL.DTOs.CourseDTO>)ViewBag.Courses)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Credits</td>
                </tr>
            }
        </tbody>
    </table>
}


